.container{
    padding: 10px;
    max-width: 500px;
    margin: auto;
    background: #000;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}   

form label{
    font-size: 25px;
    margin-bottom: 10px;
}

form input{
    padding: 8px;
}
form select{
    padding: 8px;
}
form button{
    padding: 8px;
}